.slider {
    position: relative;
    width: 500px;
    border: 1px solid #ddd;
    font-size: 0;
}


.slider li {
    height: 400px;
    font-size: 32px;
    text-align: center;
    line-height: 400px;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 10px;
    text-align: center;
    font-size: 0;
}

.pagination > * {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: #ddd;
    z-index: 1;;
}

.pagination > .active {
    background-color: #333;
}